absl-py==1.4.0
affine==2.4.0
aiobotocore==2.4.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.10.2
antialiased-cnns==0.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arm-pyart==1.13.2
arrow==1.2.3
assertpy==1.1
asttokens==2.2.1
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.2.0
audioread==3.0.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.0
bleach==6.0.0
blosc2==2.0.0
botocore==1.27.59
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmake==3.26.0
colorama==0.4.6
comm==0.1.3
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
dask==2023.3.1
dask-jobqueue==0.8.1
databricks-cli==0.17.6
datasets==2.10.1
debtcollector==2.5.0
debugpy==1.6.6
decorator==5.1.1
deepspeed==0.8.3
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
distributed==2023.3.1
docker==6.0.1
einops==0.6.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
faiss==1.7.3
fastargs==1.2.0
fastjsonschema==2.16.3
ffcv==1.0.2
filelock==3.10.0
Fiona==1.9.2
Flask==2.2.3
fonttools==4.39.2
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.3.0
gensim==4.3.1
geopandas==0.12.2
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.16.2
google-auth-oauthlib==0.4.6
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.51.3
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.8.0
HeapDict==1.0.1
hjson==3.1.0
horovod==0.27.0
huggingface-hub==0.13.3
idna==3.4
imageio==2.26.1
imbalanced-learn==0.10.1
importlib-metadata==6.1.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.5
iso8601==1.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsmin==3.0.1
json5==0.9.11
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter-client==8.1.0
jupyter-core==5.3.0
jupyter-events==0.6.3
jupyter-server==2.5.0
jupyter-server-mathjax==0.2.6
jupyter-server-terminals==0.4.4
jupyterlab==3.5.2
jupyterlab-git==0.41.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.20.0
jupyterlab-widgets==3.0.6
jupytext==1.14.5
keopscore==2.1.1
keystoneauth1==5.1.2
kiwisolver==1.4.4
lazy-loader==0.2
librosa==0.10.0.post2
lightning-utilities==0.8.0
lit==16.0.0
llvmlite==0.39.1
lmdb==1.4.0
locket==1.0.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune==2.0.5
mlflow==2.2.2
mpi4py==3.1.4
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munch==2.5.0
mysql-connector-python==8.0.32
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbdime==3.1.1
nbformat==5.8.0
nest-asyncio==1.5.6
netaddr==0.8.0
netCDF4==1.6.3
netifaces==0.11.0
networkx==3.0
ninja==1.11.1
nltk==3.8.1
notebook==6.5.3
notebook-shim==0.2.2
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
odfpy==1.4.1
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
os-service-types==1.7.0
oslo.config==9.1.1
oslo.i18n==6.0.0
oslo.serialization==5.1.1
oslo.utils==6.1.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
pluggy==1.0.0
pooch==1.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.4
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.6
pydot==1.4.2
pyflakes==3.0.1
pyglet==1.5.15
Pygments==2.14.0
PyJWT==2.6.0
pykeops==2.1.1
pynndescent==0.5.8
pyparsing==3.0.9
pyproj==3.4.1
pyprojroot==0.3.0
pyro-api==0.1.2
pyro-ppl==1.4.0
pyrsistent==0.19.3
pysteps==1.7.1
pytest==7.2.2
python-dateutil==2.8.2
python-json-logger==2.0.7
python-keystoneclient==5.1.0
python-swiftclient==4.2.0
pytorch-lightning==2.0.0
pytorch-msssim==0.2.1
pytorch-pfn-extras==0.6.5
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.2
querystring-parser==1.2.4
rasterio==1.3.6
ray==2.3.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rsa==4.9
s3fs==2022.8.2
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
Send2Trash==1.8.0
shap==0.41.0
shapely==2.0.1
six==1.16.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.4
SQLAlchemy==2.0.7
sqlparse==0.4.3
stack-data==0.6.2
stevedore==5.0.0
sympy==1.11.1
tables==3.8.0
tabulate==0.9.0
tblib==1.7.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
terminado==0.17.1
terminaltables==3.1.10
threadpoolctl==3.1.0
tifffile==2023.3.21
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torch-tb-profiler==0.4.1
torchaudio==2.0.1
torchdata==0.6.0
torchmetrics==0.11.4
torchtext==0.15.1+cpu
torchvision==0.15.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.27.2
triton==2.0.0
typing-extensions==4.5.0
-e git+git@github.com:TyXe-BDL/TyXe.git@9b0a0aebb84ddd7eed2f26da967e61ad0cb79039#egg=tyxe
umap-learn==0.5.3
uri-template==1.2.0
urllib3==1.26.15
virtualenv==20.21.0
visdom==0.2.4
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.6
wrapt==1.15.0
xarray==2022.9.0
xgboost==1.7.4
xlwt==1.3.0
xxhash==3.2.0
yarl==1.8.2
zict==2.2.0
zipp==3.15.0
